/* Media queries required   */
body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5px;
  height: 100vh;
  margin: 0px;
}
section {
  position: relative;
  /* Makes position absolute of child stay within bounds of the section its contained in */
  height: 100vh;
  width: 50vw;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cookie-stats {
  /* position: fixed; */
  font-size: 4.2vh;
  font-weight: bold;
  height: 20%;
}
#buttons {
  position: absolute;
  width: 100%;
  height: 10%;
  min-height: 50px;
}
#menu-button {
  position: absolute;
  left: 0px;
  margin-right: auto;
}
#reset-button {
  position: absolute;
  right: 0px;
  margin-left: auto;
}
button {
  height: 75%;
  font-size: 16px;
}
#cookie {
  height: 100%;
  max-height: 50vw;
}

#shop-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  column-gap: 10px;
  row-gap: 25px;
}
.grid-item {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  min-height: 24px;
}
.error {
  font-size: 5vh;
  font-weight: bold;
}
.buy-button {
  width: 50%;
  margin: auto;
  min-height: 24px;
}
.mid-animation {
  transform: scale(0.97);
}
#sfx-button {
  background-color: green;
}
#animation-button {
  background-color: green;
}
#menu {
  display: none;
  flex-direction: column;
  height: 10vh;
  width: 20vh;
  position: fixed;
  top: 10%;
}

@media (orientation: portrait) {
  body {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    width: 100vw;
  }
  section {
    width: 100vw;
    height: 50vh;
  }
  #cookie {
    max-height: 35vh;
    margin-top: auto;
  }
  #cookie-stats {
    font-size: 3vh;
    font-weight: bold;
    height: 15%;
    margin-bottom: auto;
    position: fixed;
  }
  .grid-item {
    font-size: 16px;
  }
}

@media (orientation: landscape) and (max-width: 775px) {
  .grid-item {
    font-size: 14px;
  }
}
